<div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">T. Externos</li>
        <li>
          <a href="{% url 'listado' %}">Listar</a>
          <!-- <ul class="menu vertical">
            <li><a href="#">One</a></li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>
          </ul> -->
        </li>
        <li><a href="#">Administrar</a></li>
        <li><a href="#">Acerca</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><input type="search" placeholder="Search"></li>
        <li><a href={% url 'registro_add' %} class="button">Registrar Nuevo</a></li>
      </ul>
    </div>
  </div>